!!!
%html
  %head
    %title Sgsukien
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .clearfix

    %p.notice
      = notice
    - if alert.present?
      %p.alert
        = alert

    = yield

    .clearfix
    = render 'shared/footer'
