!!!
%html
  %head
    %title Sgsukien
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAoXXDm2iNXDZfO3RzzSEJoQlqS74BqgAI&sensor=false"
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .clearfix

    %p.notice
      = notice
    - if alert.present?
      %p.alert
        = alert

    #content
      = yield

    -#include gmaps4rail scripts
    = yield :scripts

    .clearfix
    = render 'shared/footer'
